
<div class="bg-white pt-10 mt-[100px] pb-10 px-4 border-2 border-gray-300 md:px-10 md:mt-[50px] ">
  <div class="max-w-8xl mx-auto grid grid-cols-1 md:grid-cols-6 gap-8 md:gap-y-0 gap-y-10">

    <div class="md:col-span-2">
      <h3 class="text-[20px] font-bold text-gray-900 tracking-wider mb-4"> <%= iscriviti %> </h3>
      <p class="text-gray-500 text-sm mb-4"><%= sconto %></p>
      <div class="flex rounded-md shadow-sm w-full">
        <input type="email" class="appearance-none block w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="<%= iscriviti %>">
        <button type="button" class="bg-yellow-800 hover:bg-yellow-500 text-white font-medium rounded-r-md px-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>

    <div>
      <h3 class="text-sm font-bold text-yellow-800 text-[15px] tracking-wider mb-4 md:pl-10"> <%= progetti %> </h3>
      <ul class="text-yellow-600 text-sm space-y-2 md:pl-10">
        <li><a href="/progetti" class="hover:text-yellow-500"> <%= progetti_case %> </a></li>
        <li><a href="/progetti" class="hover:text-yellow-500"> <%= progetti_importanti %> </a></li>
        <li><a href="/progetti" class="hover:text-yellow-500"> <%= progetti_parchi %> </a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-sm font-bold text-yellow-800 text-[15px] tracking-wider mb-4 md:pl-10"> <%= storia %> </h3>
      <ul class="text-yellow-600 text-sm space-y-2 md:pl-10">
        <li><a href="/storia" class="hover:text-yellow-500"> <%= chi_siamo %> </a></li>
        <li><a href="/lavora" class="hover:text-yellow-500"> <%= lavora %> </a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-sm font-bold text-yellow-800 text-[15px] tracking-wider mb-4 md:pl-10"> <%= social %> </h3>
      <ul class="text-yellow-600 text-sm space-y-2 md:pl-10">
        <li><a href="https://www.facebook.com/donboscosandona/?locale=it_IT" class="hover:text-yellow-500"> <%= facebook %> </a></li>
        <li><a href="https://www.instagram.com/donboscosandona/?hl=it" class="hover:text-yellow-500"> <%= instagram %> </a></li>
        <li><a href="#" class="hover:text-yellow-500"> <%= twitter %> </a></li>
      </ul>
    </div>

  </div>
</div>